@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root {
    font-family: "Be Vietnam Pro", sans-serif;
}
.bg-search-image {
    background-image: url('Search.svg');

}


  
  .checkbox-input:checked + .checkbox-label::after {
    background-color: blue; /* Change to your desired background color */
    content: '\2713'; /* Checkmark symbol */
    display: block;
    text-align: center;
    line-height: 15px;
    color: white; /* Color of the checkmark */
  }

  .fixed-width-grid {
    display: grid;
    grid-template-columns: 50px 150px 1fr 1fr 1fr;
    gap: 60px; 

  }